*{
    margin: 0;
    padding: 0;
    background-color: white;
    
}
body{
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
/*----------header---------- */



header > div{
    display: flex;
    flex-direction: row;

}
hgroup{
    margin-bottom: 2rem;
}
/* removing about h3 */
header hgroup h2, #about h3{
    display: none;
}
#about{
    border-top: 1px solid gray;
}
#about p {
    padding-top: 2rem;
    padding-bottom: 10rem;
    width: 70%;
    color: gray;
    opacity: 0.8;

}

figure{  
    position:absolute;
    right: 10rem;
}
figure img{
    height: 180px;
    width: 180px;
    transform: rotate(-25deg);

}

/* competencies */
#competencies {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: 50px;
        
}
.skills{
    border-left: 2px solid gray;
    padding-left: 0.5rem;
}

.skills-primary{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.skills-primary .skill {
    width: 150px;
    height: 40px;
    background-color: cadetblue;
    margin-right: 5px;
    margin-bottom: 5px;
}
.skill span{
    width: 110px;
}
.skills-primary [data-skill="5"] span::after{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \2606 \2606 \2606";
}

[data-skill="3"] span::after{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \2606 \2606";
}
[data-skill="1"] span::after{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0  \2606 ";
}
[data-skill="9"] span::after{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \2606 \2606 \2606 \2606 \2606";
}
.skills-secondary [data-skill="5"] span::after{
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \2606 \2606 \2606 ";
}
[data-skill="7"] span::after{
    font-weight: lighter;
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \2606 \2606 \2606 \2606 ";
}


.skills-secondary{
    display: flex;
    flex-direction: row;
    grid-column-start: 2;

}
.skills-secondary .skill{

    font-size: 10px;
    width: 150px;
    height: 30px;
    background-color: cadetblue;
    margin-right: 5px;
    margin-bottom: 5px;

}


.skill span{
    margin-top: 3px;
    padding-left: 3px;
    color: white;
    background-color:cadetblue;
   
}

/* Experiences */
#experiences{
    display : grid;
    grid-template-columns: 20% 80%;
    margin-bottom: 50px;
}

.experience{
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    border-left: 2px solid gray;
    padding-left: 0.5rem;


}
.experience-details{
    color: gray;
    opacity: 0.6;
    position: absolute;
    right: 7rem;
}
.experience-description{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.experience-type{
    color: teal;
}
.experience-institution{
    display: none;
}


/* education */
#education{
    display : grid;
    grid-template-columns: 20% 80%;
    margin-bottom:50px;
}
/* the experience classes for education are already designed in experience section */

/* hobbies */
#hobbies{
    display : grid;
    grid-template-columns: 20% 80%;
    margin-bottom:60px;

}
#hobbies ul{
    border-left: 2px solid gray;
    padding-left: 3rem;
}
.contacts{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#contact h3{
    display: none;
}
.contact-type{
    display: none;
}
.contact-value{
    display: none;
}
.contact-email {
    background-image: url('../images/email.png');
    background-size: contain;    
    width: 110px;
    height: 110px;

    }
.contact-phone{
background-image: url('../images/phone.png');
background-size: contain;
width: 110px;
height: 110px;
}
.contact-github{
    background-image: url('../images/github.png');
    background-size: contain;
    width: 110px;
    height: 110px;
    }

.contact-facebook{
    background-image: url('../images/facebook.png');
    background-size: contain;
    width: 110px;
    height: 110px;
}